
#everything {
	background-color: #E0E6FF;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
/*
.body {
	margin: 0;
}*/
.header {
	color: #313131;
	font-size: 150px;
	text-align: center;
	font-family: Hammersmith One;
	margin-bottom: 35;
	margin-top: 0px;
	padding-top: 15px;
}
.sentence {
	color: #028482;
	font-size: 37px;
	text-align: center;
	font-family: Kalam;
	padding-bottom: 30px;
}
#bar {
    border: double #337ab7;
    border-spacing: 1px;
}
.aboutme {
    color: #006699;
	font-size: 75px;
	text-align: center;
	font-family: Pacifico;
	margin-top:55px;
}
.aboutmepic {
	display: block;
	margin: auto;
    margin-bottom: 25;
    margin-top: 40px;
	width: 35%;
}
p {
	font-size: 25;
	text-align: center;
	font-family: Katibeh;
	padding: 15px;
}
.stuff {
	margin-bottom: 0;
}
#next {
	display: block;
	margin: auto;
    width: auto;
}
#switch {
	display: block;
	margin: auto;
    width: auto;
}
#serious {
	display: block;
	margin: auto;
    width: auto;
    margin-bottom: 30px;
}
#back {
	display: block;
	margin: auto;
    width: auto;
    margin-bottom: 30px;
}
}
.col-sm-3 {
    text-align: center;
}
.footcontainer {
    padding-top: 0px;
    padding-bottom: 15px;
    background-color: #FFFFFF;
    border-top: thick solid #82968C;
    margin-top: 60px;
}
.connect{
    font-family: "Rubik";
    margin-top: 44px;
    color: black;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 0px;
}
.facebook {
    margin-top: 40px;
    color: black;
    padding-left: 20px;
    margin-bottom: 15px;
    display: block;
    height: 73px;
}
.twitter {
    margin-top: 40px;
    color: black;
    padding-left: 20px;
    margin-bottom: 15px;
    display: block;
    height: 73px;
}
.instagram {
    margin-top: 40px;
    color: black;
    padding-left: 20px;
    margin-bottom: 15px;
    display: block;
    height: 73px;
}
.ehspic {
    padding-left: 20px;
    display: block;
    width: 420px;
}
.ehsdesc {
	text-align: left;
}
.shoongpic {
    padding-left: 20px;
    display: block;
    width: 420px;
    height: 200px;
}
.gwcpic {
    padding-left: 20px;
    display: block;
    width: 420px;
}
.schools {
	padding-left: 20px;
}
.names {
	font-family: Montserrat Alternates;
	font-size: 26px;
	text-align: left;
	padding-left: 21px;
	margin-bottom: 0px;
}
.stuff {
	font-family: Josefin Sans;
	text-align: left;
	font-size: 23px;
}