
#everything {
	background-color: #EAF0CE;
}
/*.body {
	margin: 0;
}*/
h1 {
	color: #3F334D;
	font-size: 150px;
	text-align: center;
	font-family: Hammersmith One;
	margin-bottom: 40;
}
.sentence {
	color: #7D8491;
	font-size: 45px;
	text-align: center;
	font-family: Kalam;
}
.headerpic {
    display: block;
    margin: auto;
    margin-bottom: 25;
    width: auto;
}
.aboutme {
    color: #574B60;
	font-size: 75px;
	text-align: center;
	font-family: Pacifico;
}
.aboutmepic {
	display: block;
	margin: auto;
	width: 35%;
}
p {
	font-size: 25;
	text-align: center;
	font-family: Katibeh;
}
.portfolio {
    color: #574B60;
	font-size: 75px;
	text-align: center;
	font-family: Pacifico;
}
h3 {
	font-size: 40;
}
.brickbreaker {
	display: block;
	width: 18%;
}
.piggame {
	display: block;
	width: 19%;
}
.password {
	display: block;
	width: 24%;
}
.robotics {
	display: block;
	width: 19%;
}
.connect {
	color: #959E94;
	text-align: center;
	font-size: 20px;
	font-family: Verdana;
}
.socialmedia {
	text-align: center;
	margin-bottom: 0;
}
.stuff {
	margin-bottom: 0;
}
#next {
	display: block;
	margin: auto;
    width: auto;
}